[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
marshmallow-sqlalchemy = "*"
flask-marshmallow = "*"
python-dotenv = "*"
psycopg2 = "*"
email-validator = "*"
flask-security-too = "*"
bcrypt = "*"
click = "*"
flask-babelex = "*"

[dev-packages]

[requires]
python_version = "3.8"
